.chat-menu {
  button.chat-menu-option {
    opacity: 1;
    cursor: pointer;
    transition: all .4s;
  }
  
  button.chat-menu-option:hover {
    opacity: 0.8;
  }
  
  button.chat-menu-option.selected {
    background-color: var(--dark-blue) !important;
    color: var(--white) !important;
    text-decoration: underline;
  }
}