.app {
  
  .app-header {
    background: var(--blue);
    background-color: var(--blue);
    color: var(--white);
    height: 80px;
    padding: 0 10px;
    width: 100%;

    .app-logo {
      width: 55px;
      height: 55px;
    }

    .app-title {
      margin: 0 10px;

    }
  }
}