.app-header {
  background-color: var(--blue);
  color: var(--white);
  padding: 0 10px;
  height: 80px;
  .app-logo {
    width: 55px;
    height: 55px;
  }
}

#logout-button {
  background-color: var(--yellow);
  color: var(--white);
  border:none;
  padding: 10px 70px;
}