div.MuiPaper-root.MuiPopover-paper {
  max-width: 45%;
}

@media screen and (max-width: 600px) {
  div.MuiPaper-root.MuiPopover-paper {
    max-width: 85%;
  }
}

@media screen and (max-width: 470px) {
  h2#chat-header-title {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 400px) {
  h2#chat-header-title {
    max-width: 200px;
  }
}

@media screen and (max-width: 360px) {
  h2#chat-header-title {
    max-width: 150px;
  }
}